* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  font-family: arial, sans-serif;
  font-size: 110%;
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#status {
  background-color: yellow;
  color: black;
  left: 35%;
  margin: -40 auto;
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 30%;
  z-index: 3;
  -webkit-border-radius: 5px;
  -webkit-transition: opacity .5s linear .5s;
}
.touchscreen {
  margin: 80 auto;
  text-align: center;
  width: 90%;
}

.title {
  cursor: hand;
  cursor: pointer;
  font-size: 200%;
  opacity: 0;
  position: relative;
  text-align: center;
  top: 130px;
  width: 240px;
  z-index: 1;
  -webkit-transition: opacity .5s linear;
}

.ctlpanel {
  background-color: #C2DFFF;
  cursor: hand;
  left: 1%;
  top: 82%;
  padding: 0px;
  opacity: 1;
  position: absolute;
  text-align: left;
  vertical-align: middle;
  width: 40%;
  z-index: 3;
  -webkit-border-radius: 5px;
}
.ctlbutton {
  background-color: #B4CFEC;
  border: 1px solid gray;
  color: #150517;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  margin: 1px;
  padding: 1px 0px 1px 0px;
  text-align: center;
  vertical-align: middle;
  width: 110px;
  -webkit-border-radius: 5px;
  -webkit-transform: scale(1.0);
  -webkit-transition-duration: .25s;
}
.ctlbutton:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-duration: .25s;
}
.relaunch {
  cursor: hand;
  left: 10%;
  top: 30%;
  padding: 3px;
  opacity: 1;
  position: absolute;
  text-align: right;
  width: 20%;
  z-index: 3;
}
.location {
  background-color: #B4CFEC;
  border: 1px solid gray;
  color: #150517;
  cursor: hand;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3em;
  margin: 10px;
  padding: 12px 8px 12px 8px;
  text-align: center;
  vertical-align: middle;
  width: 260px;
  -webkit-border-radius: 5px;
  -webkit-transform: scale(1.0);
  -webkit-transition-duration: .25s;
}
.location:hover {
  -webkit-transform: scale(1.1);
  -webkit-transition-duration: .25s;
}

nav {
	display: block;
	margin-bottom: 10px;
}
nav ul {
	list-style: none;
	font-size: 20px;
}
nav ul li {
	display: block;
}
nav ul li a {
	display: block;
	/*float: left;*/
	padding: 5px 10px;
	color: #575c7d;
	text-decoration: none;
	font-weight: bold;
}
nav ul li a:hover {
	background: #deff90;
	color: #485e0f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0;
	text-decoration: none;
}
